.keyframes-bottom 0% {
  bottom: -200px;
}
.keyframes-bottom 100% {
  bottom: 0;
}
.keyframes-top 0% {
  top: -200px;
}
.keyframes-top 100% {
  top: 0;
}
.keyframes-left 0% {
  left: -200px;
}
.keyframes-left 100% {
  left: 0;
}
.keyframes-right 0% {
  right: -200px;
}
.keyframes-right 100% {
  right: 0;
}

@-webkit-keyframes labelBottom {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0;
  }
}
@-moz-keyframes labelBottom {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0;
  }
}
@-o-keyframes labelBottom {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0;
  }
}
@keyframes labelBottom {
  0% {
    bottom: -200px;
  }
  100% {
    bottom: 0;
  }
}
@-webkit-keyframes labelTop {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes labelTop {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes labelTop {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@keyframes labelTop {
  0% {
    top: -200px;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes labelLeft {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@-moz-keyframes labelLeft {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@-o-keyframes labelLeft {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@keyframes labelLeft {
  0% {
    left: -200px;
  }
  100% {
    left: 0;
  }
}
@-webkit-keyframes labelRight {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
@-moz-keyframes labelRight {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
@-o-keyframes labelRight {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
@keyframes labelRight {
  0% {
    right: -200px;
  }
  100% {
    right: 0;
  }
}
.keyframes-fade-in 0% {
  opacity: 0;
}
.keyframes-fade-in 100% {
  opacity: 1;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keyframes-fade-out 0% {
  opacity: 1;
}
.keyframes-fade-out 100% {
  opacity: 0;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.keyframes-fade-out-and-hide 0% {
  opacity: 1;
}
.keyframes-fade-out-and-hide 100% {
  visibility: hidden;

  opacity: 0;
}
@-webkit-keyframes fadeOutHide {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;

    opacity: 0;
  }
}
@-moz-keyframes fadeOutHide {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;

    opacity: 0;
  }
}
@-o-keyframes fadeOutHide {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;

    opacity: 0;
  }
}
@keyframes fadeOutHide {
  0% {
    opacity: 1;
  }
  100% {
    visibility: hidden;

    opacity: 0;
  }
}
.keyframes-animate-height 0% {
  top: 190px;
}
.keyframes-animate-height 100% {
  top: 70px;
}
@-webkit-keyframes animateHeight {
  0% {
    top: 190px;
  }
  100% {
    top: 70px;
  }
}
@-moz-keyframes animateHeight {
  0% {
    top: 190px;
  }
  100% {
    top: 70px;
  }
}
@-o-keyframes animateHeight {
  0% {
    top: 190px;
  }
  100% {
    top: 70px;
  }
}
@keyframes animateHeight {
  0% {
    top: 190px;
  }
  100% {
    top: 70px;
  }
}
.keyframes-animate-height-offline 0% {
  top: 190px;
}
.keyframes-animate-height-offline 100% {
  top: 60px;
}
@-webkit-keyframes animateHeightOffline {
  0% {
    top: 190px;
  }
  100% {
    top: 60px;
  }
}
@-moz-keyframes animateHeightOffline {
  0% {
    top: 190px;
  }
  100% {
    top: 60px;
  }
}
@-o-keyframes animateHeightOffline {
  0% {
    top: 190px;
  }
  100% {
    top: 60px;
  }
}
@keyframes animateHeightOffline {
  0% {
    top: 190px;
  }
  100% {
    top: 60px;
  }
}

.keyframes-animate-top 0% {
  margin-top: -70px;
}
.keyframes-animate-top 100% {
  margin-top: 0;
}
@-webkit-keyframes animateTop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@-moz-keyframes animateTop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@-o-keyframes animateTop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
@keyframes animateTop {
  0% {
    margin-top: -70px;
  }
  100% {
    margin-top: 0;
  }
}
.keyframes-animate-opacity 0% {
  opacity: 0;
}
.keyframes-animate-opacity 100% {
  opacity: 1;
}
@-webkit-keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animateOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keyframes-fade-in 0% {
  opacity: 0;
}
.keyframes-fade-in 100% {
  opacity: 1;
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.keyframes-fade-out 0% {
  opacity: 1;
}
.keyframes-fade-out 100% {
  opacity: 0;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
