/*** Shortcodes Ultimate - box elements ***/

/*    Common styles
---------------------------------------------------------------*/

.su-clearfix {
  &:before {
    display: table;

    content: ' ';
  }
  &:after {
    display: table;
    clear: both;

    content: ' ';
  }
}

/*    Tabs + Tab
---------------------------------------------------------------*/

.su-tabs {
  margin: 0 0 1.5em 0;
  padding: 3px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  background: #eee;
}

.su-tabs-nav span {
  font-size: 13px;
  line-height: 20px;

  display: inline-block;

  min-height: 40px;
  margin-right: 3px;
  padding: 10px 15px;

  cursor: pointer;
  -webkit-transition: all .2s;
     -moz-transition: all .2s;
       -o-transition: all .2s;
          transition: all .2s;

  color: #333;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
          border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
          border-top-right-radius: 3px;
  &:hover {
    background: #f5f5f5;
  }
  &.su-tabs-current {
    cursor: default;

    background: #fff;
  }
  &.su-tabs-disabled {
    cursor: default;

    opacity: .5;

    filter: alpha(opacity = 50);
  }
}

.su-tabs-pane {
  font-size: 13px;

  padding: 15px;

  color: #333;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
          border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
          border-bottom-left-radius: 3px;
  background: #fff;
}

.su-tabs-vertical {
  &:before {
    display: table;

    content: ' ';
  }
  &:after {
    display: table;
    clear: both;

    content: ' ';
  }
  .su-tabs-nav {
    float: left;

    width: 30%;
    span {
      display: block;

      margin-right: 0;

      -webkit-border-radius: 0;
         -moz-border-radius: 0;
              border-radius: 0;
      -webkit-border-top-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
              border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-bottomleft: 3px;
              border-bottom-left-radius: 3px;
    }
  }
  .su-tabs-panes {
    float: left;

    width: 70%;
  }
  .su-tabs-pane {
    -webkit-border-radius: 0;
       -moz-border-radius: 0;
            border-radius: 0;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
            border-top-right-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -moz-border-radius-bottomright: 3px;
            border-bottom-right-radius: 3px;
  }
}

.su-tabs-nav {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
  span {
    -webkit-box-sizing: border-box !important;
       -moz-box-sizing: border-box !important;
            box-sizing: border-box !important;
  }
}

.su-tabs-panes,
.su-tabs-pane {
  -webkit-box-sizing: border-box !important;
     -moz-box-sizing: border-box !important;
          box-sizing: border-box !important;
}

/* Styles for screens that are less than 768px */
@media only screen and (max-width: 768px) {
  .su-tabs-nav span {
    display: block;
  }

  .su-tabs-vertical {
    .su-tabs-nav,
    .su-tabs-panes {
      float: none;

      width: auto;
    }
  }
}

/*    Spoiler + Accordion
---------------------------------------------------------------*/

.su-spoiler {
  margin-bottom: 1.5em;
  .su-spoiler:last-child {
    margin-bottom: 0;
  }
}

.su-accordion {
  margin-bottom: 1.5em;
  .su-spoiler {
    margin-bottom: .5em;
  }
}

.su-spoiler-title {
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;

  position: relative;

  min-height: 20px;
  padding: 7px 7px 7px 34px;

  cursor: pointer;
}

.su-spoiler-icon {
  font-family: FontAwesome;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  line-height: 21px;

  position: absolute;
  top: 7px;
  left: 7px;

  display: block;

  width: 20px;
  height: 20px;

  text-align: center;

  -webkit-font-smoothing: antialiased;
  *margin-right: .3em;
}

.su-spoiler-content {
  padding: 14px;

  -webkit-transition: padding-top .2s;
     -moz-transition: padding-top .2s;
       -o-transition: padding-top .2s;
          transition: padding-top .2s;

  -ie-transition: padding-top .2s;
}

.su-spoiler.su-spoiler-closed > .su-spoiler-content {
  overflow: hidden;

  height: 0;
  margin: 0;
  padding: 0;

  opacity: 0;
  border: none;
}

.su-spoiler-icon-plus {
  .su-spoiler-icon:before {
    content: '\f068';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f067';
  }
}

.su-spoiler-icon-plus-circle {
  .su-spoiler-icon:before {
    content: '\f056';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f055';
  }
}

.su-spoiler-icon-plus-square-1 {
  .su-spoiler-icon:before {
    content: '\f146';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f0fe';
  }
}

.su-spoiler-icon-plus-square-2 {
  .su-spoiler-icon:before {
    content: '\f117';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f116';
  }
}

.su-spoiler-icon-arrow {
  .su-spoiler-icon:before {
    content: '\f063';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f061';
  }
}

.su-spoiler-icon-arrow-circle-1 {
  .su-spoiler-icon:before {
    content: '\f0ab';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f0a9';
  }
}

.su-spoiler-icon-arrow-circle-2 {
  .su-spoiler-icon:before {
    content: '\f01a';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f18e';
  }
}

.su-spoiler-icon-chevron {
  .su-spoiler-icon:before {
    content: '\f078';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f054';
  }
}

.su-spoiler-icon-chevron-circle {
  .su-spoiler-icon:before {
    content: '\f13a';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f138';
  }
}

.su-spoiler-icon-caret {
  .su-spoiler-icon:before {
    content: '\f0d7';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f0da';
  }
}

.su-spoiler-icon-caret-square {
  .su-spoiler-icon:before {
    content: '\f150';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f152';
  }
}

.su-spoiler-icon-folder-1 {
  .su-spoiler-icon:before {
    content: '\f07c';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f07b';
  }
}

.su-spoiler-icon-folder-2 {
  .su-spoiler-icon:before {
    content: '\f115';
  }
  &.su-spoiler-closed .su-spoiler-icon:before {
    content: '\f114';
  }
}

.su-spoiler-style-default > {
  .su-spoiler-title {
    padding-right: 0;
    padding-left: 27px;
    > .su-spoiler-icon {
      left: 0;
    }
  }
  .su-spoiler-content {
    padding: 1em 0 1em 27px;
  }
}

.su-spoiler-style-fancy {
  color: #333;
  border: 1px solid #ccc;
  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  background: #fff;
  > .su-spoiler-title {
    font-size: .9em;

    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
    background: #f0f0f0;
  }
  &.su-spoiler-closed > .su-spoiler-title {
    border: none;
  }
  > .su-spoiler-content {
    -webkit-border-radius: 10px;
       -moz-border-radius: 10px;
            border-radius: 10px;
  }
}

.su-spoiler-style-simple {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  > {
    .su-spoiler-title {
      font-size: .9em;

      padding: 5px 10px;

      color: #333;
      background: #f0f0f0;
      > .su-spoiler-icon {
        display: none;
      }
    }
    .su-spoiler-content {
      padding: 1em 10px;

      color: #333;
      background: #fff;
    }
  }
}

/*    Quote
---------------------------------------------------------------*/

.su-quote-style-default {
  font-style: italic;

  position: relative;

  margin-bottom: 1.5em;
  padding: .5em 3em;
  &.su-quote-has-cite {
    margin-bottom: 3em;
  }
  &:before,
  &:after {
    position: absolute;

    display: block;

    width: 20px;
    height: 20px;

    content: '';

    background-image: url('../img/quote.png');
  }
  &:before {
    top: 0;
    left: 0;

    background-position: 0 0;
  }
  &:after {
    right: 0;
    bottom: 0;

    background-position: -20px 0;
  }
  .su-quote-cite {
    font-style: normal;

    position: absolute;
    right: 4em;
    bottom: -1.5em;
    &:before {
      content: '\2014\0000a0';
    }
    a {
      text-decoration: underline;
    }
  }
}

/*    Pullquote
---------------------------------------------------------------*/

.su-pullquote {
  display: block;

  width: 30%;
  padding: .5em 1em;
}

.su-pullquote-align-left {
  float: left;

  margin: .5em 1.5em 1em 0;
  padding-left: 0;

  border-right: 5px solid #eee;
}

.su-pullquote-align-right {
  float: right;

  margin: .5em 0 1em 1.5em;
  padding-right: 0;

  border-left: 5px solid #eee;
}

/*    Row + Column
---------------------------------------------------------------*/

.su-row {
  clear: both;
  zoom: 1;

  margin-bottom: 1.5em;
  &:before {
    display: table;

    content: '';
  }
  &:after {
    display: table;
    clear: both;

    content: '';
  }
}

.su-column {
  display: block;
  float: left;

  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 4% 0 0;
}

.su-column-last {
  margin-right: 0;
}

.su-row .su-column {
  margin: 0 0 0 4%;
  &.su-column-size-1-1 {
    margin-right: 0;
    margin-left: 0;
  }
  &:first-child {
    margin-left: 0;
  }
}

.su-column-centered {
  float: none !important;

  margin-right: auto !important;
  margin-left: auto !important;
}

.su-column {
  img,
  iframe,
  object,
  embed {
    max-width: 100%;
  }
}

@media only screen {
  [class*='su-column'] + [class*='su-column']:last-child {
    float: right;
  }
}

.su-column-size-1-1 {
  width: 100%;
}

.su-column-size-1-2 {
  width: 48%;
}

.su-column-size-1-3 {
  width: 30.66%;
}

.su-column-size-2-3 {
  width: 65.33%;
}

.su-column-size-1-4 {
  width: 22%;
}

.su-column-size-3-4 {
  width: 74%;
}

.su-column-size-1-5 {
  width: 16.8%;
}

.su-column-size-2-5 {
  width: 37.6%;
}

.su-column-size-3-5 {
  width: 58.4%;
}

.su-column-size-4-5 {
  width: 79.2%;
}

.su-column-size-1-6 {
  width: 13.33%;
}

.su-column-size-5-6 {
  width: 82.66%;
}

/* Styles for screens that are less than 768px */
@media only screen and (max-width: 768px) {
  .su-column {
    float: none !important;

    width: 100% !important;
    margin: 0 0 1.5em 0 !important;
  }

  .su-row .su-column:last-child {
    margin-bottom: 0 !important;
  }
}

/*    Service
---------------------------------------------------------------*/

.su-service {
  position: relative;

  margin: 0 0 1.5em 0;
}

.su-service-title {
  font-size: 1.1em;
  font-weight: bold;

  display: block;

  margin-bottom: .5em;

  color: #333;
  img {
    position: absolute;
    top: 0;
    left: 0;

    display: block !important;

    margin: 0 !important;
    padding: 0 !important;

    border: none !important;
    -webkit-box-shadow: none !important;
       -moz-box-shadow: none !important;
            box-shadow: none !important;
  }
  i {
    line-height: 1em;

    position: absolute;
    top: 0;
    left: 0;

    display: block !important;

    width: 1em;
    height: 1em;

    text-align: center;
  }
}

.su-service-content {
  line-height: 1.4;
}

/*    Box
---------------------------------------------------------------*/

.su-box {
  margin: 0 0 1.5em 0;

  border-width: 2px;
  border-style: solid;
}

.su-box-title {
  font-size: 1.1em;
  font-weight: bold;

  display: block;

  padding: .5em 1em;
}

.su-box-content {
  padding: 1em;

  color: #444;
  background-color: #fff;
}

.su-box-style-soft .su-box-title {
  background-image: url('../img/style-soft.png');
  background-repeat: repeat-x;
  background-position: 0 0;
}

.su-box-style-glass .su-box-title {
  background-image: url('../img/style-glass.png');
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.su-box-style-bubbles .su-box-title {
  background-image: url('../img/style-bubbles.png');
  background-repeat: repeat-x;
  background-position: 0 50%;
}

.su-box-style-noise .su-box-title {
  background-image: url('../img/style-noise.png');
  background-repeat: repeat-x;
  background-position: 0 0;
}

/*    Note
---------------------------------------------------------------*/

.su-note {
  margin: 0 0 1.5em 0;

  border-width: 1px;
  border-style: solid;
}

.su-note-inner {
  padding: 1em;

  border-width: 1px;
  border-style: solid;
}

/*    Expand
---------------------------------------------------------------*/

.su-expand {
  margin: 0 0 1.5em 0;
}

.su-expand-content {
  overflow: hidden;
}

.su-expand-link {
  margin-top: .5em;

  cursor: pointer;
  &:hover {
    opacity: .7;

    filter: alpha(opacity = 70);
  }
  a {
    display: inline;

    text-decoration: none;

    border: none;
    background: transparent;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      display: inline;

      text-decoration: none;

      border: none;
      background: transparent;
    }
  }
}

.su-expand-link-style-default .su-expand-link a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.su-expand-link-style-underlined .su-expand-link span {
  text-decoration: underline;
}

.su-expand-link-style-dotted .su-expand-link span {
  border-bottom: 1px dotted #333;
}

.su-expand-link-style-dashed .su-expand-link span {
  border-bottom: 1px dashed #333;
}

.su-expand-link-style-button .su-expand-link a {
  display: inline-block;

  margin-top: .2em;
  padding: .2em .4em;

  border: 2px solid #333;
}

.su-expand-link-more {
  display: none;
}

.su-expand-link-less {
  display: block;
}

.su-expand-collapsed {
  .su-expand-link-more {
    display: block;
  }
  .su-expand-link-less {
    display: none;
  }
}

.su-expand-link {
  i {
    display: inline-block;

    margin: 0 .3em 0 0;

    vertical-align: middle;

    color: inherit;
  }
  img {
    display: inline-block;

    width: 1em;
    height: 1em;
    margin: 0 .3em 0 0;

    vertical-align: middle;
  }
}

/*    Lightbox content
---------------------------------------------------------------*/

.su-lightbox-content {
  position: relative;

  margin: 0 auto;
}

.mfp-content .su-lightbox-content,
#su-generator .su-lightbox-content {
  display: block !important;
}

.su-lightbox-content-preview {
  overflow: hidden;

  width: 100%;
  min-height: 300px;

  background: #444;
}

.su-lightbox-content {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

/*    Common margin resets for box elements
---------------------------------------------------------------*/

.su-column-inner > *:first-child,
.su-accordion > *:first-child,
.su-spoiler-content > *:first-child,
.su-service-content > *:first-child,
.su-box-content > *:first-child,
.su-note-inner > *:first-child,
.su-expand-content > *:first-child,
.su-lightbox-content > *:first-child {
  margin-top: 0;
}

.su-column-inner > *:last-child,
.su-tabs-pane > *:last-child,
.su-accordion > *:last-child,
.su-spoiler-content > *:last-child,
.su-service-content > *:last-child,
.su-box-content > *:last-child,
.su-note-inner > *:last-child,
.su-expand-content > *:last-child,
.su-lightbox-content > *:last-child {
  margin-bottom: 0;
}
