
# BEGIN BackUpWordPress
# This .htaccess file ensures that other people cannot download your backup files.

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{QUERY_STRING} !key=HMBKP_SECURE_KEY
RewriteRule (.*) - [F]
</IfModule>

# END BackUpWordPress